.restaurantCard {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: rgba(41, 51, 92);
    background-color:  rgba(41, 51, 92);
    width: 700px;
    margin: auto;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    height: 300px;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

.restaurantCard:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

.basicInfo {
    background-color: rgba(41, 51, 92);
    color: white;
    border-radius: 20px;
    width: 400px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 2s;
}

.basicInfo:hover {
    width: 800px;
}

.information {
    padding-top: 80px;
    width: 400px;
    color: white;
    background-color: rgba(168, 198, 134);
    border-radius: 20px;
    transition: 2s;
}

.information:hover {
    width: 800px;
}

#info {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
}

#image {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

#address {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
}

#address:hover {
    color: rgba(162, 126, 142);
}

#phone {
    font-size: medium;
    font-weight: 400;
}

#phone:hover {
    color: rgba(162, 126, 142);
}

#category {
    font-size: medium;
    font-weight: 400;
}

#category:hover {
    color: rgba(254, 249, 255);
    text-shadow: rgba(162, 126, 142);;
}

#reviews {
    font-size: medium;
    font-weight: 400;
}

#reviews:hover {
    color: rgba(254, 249, 255);
}

#rating {
    font-size: medium;
    font-weight: 400;
}

#rating:hover {
    color: rgba(254, 249, 255);
}

#price {
    font-size: medium;
    font-weight: 400;
}

#price:hover {
    color: rgba(254, 249, 255);
}

#name {
    font-family: 'Source Sans Pro', sans-serif;
}