.restaurantCard {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    background-color: lightgray;
}

.information {
    display: flex;
    flex-direction: column;
}

#image {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

#address {
 font-weight: 400;
}

#phone {
 font-weight: 400;
}

#category {
 font-weight: 400;
}

#reviews {
 font-weight: 400;
}
/* 
#rating {

} */

#price {
 font-weight: 400;
} 