.restaurantCard {
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    background-color: lightgray;
}

/* .basicInfo {

}

.information {

}

#info {

}

#image {

}

#address {

}

#phone {

}

#category {

}

#reviews {

}

#rating {

}

#price {

} */